<template name="navbar">
<style>

	
	 	.sos {
			    position: absolute !important;
			    left: 35% !important;
			    top: 5px !important;
			    z-index:999999 !important;

			   
			}
	 @media only screen and (min-width:520px ){
			.sos {
			    position: absolute !important ;
			    left: 40% !important;
			    top: 20px !important;
			    z-index:999999 !important;

			   
			}
	    }
</style>
<div id="navbar" class="ui ab top fixed segment menu">
  <div class="item brand">
    <a href="/">iConnect</a>
  </div>
    <div class=" item simple sos">
    <div class="ui button red inverted soscall" id="soscall">SOS</div>
    </div>
  {{#if currentUser}}
    <div class="ui right dropdown simple item" id="navbarUserDropdown">

      <i class="fa fa-user fa-2x icon-silver"></i> <span class="h-space-light"></span>Hi {{username}}!
      <i class="dropdown icon"></i>
            {{>userDropdown}}
    </div>
  {{else}}
    <a class="item right focus" id="signIn" href="/signin">Sign in</a>
  {{/if}}

</div>

<div id="navbar-mobile" class="ui ab top fixed menu">
  <div class="item">
    <a href="/"><b>iConnect</b></a>
  </div>
  <div class=" item simple sos">
         <div class="ui button red inverted">SOS</div>
     </div>
  <a class="item right focus toggle-sidebar" sidebar-toggle><i class="fa fa-bars"></i></a>
  </div>
  <div class="ui ab right sidebar vertical menu">
    {{#if currentUser}}
        <i class="fa fa-user fa-2x icon-silver"></i> <span class="h-space-light"></span>Hi {{username}}!
        <br>
        <a class="item" href="/admin">Profile</a>
        <a class="item logout" href="#">Logout</a>
    {{else}}
      <a class="item right focus" id="signIn" href="/signin">Sign in</a>
      <div class="ui modal" id="signInModal">
          {{> signIn}}
      </div>

    {{/if}}
    <a class="item" href="/">
      Home
    </a>
    <a class="item" href="/admin">
      Profile
    </a>
    
  </div>

<div class="pusher">
  <div class="siteContainer">
    {{> yield}}
  </div>
</div>  
</template>

<template name="userDropdown">
  <div class="menu">
  	<a class="item" href="/admin">Profile</a>
    <a class="item logout" href="#">Logout</a>
    <a href="/contact" class="item contact">Contact Us</a>
  </div>
</template>
