<template name="map">
	<style>
    .form-container{
      transition: all 0.2s ease;
      transform-origin: 10% 10% !important;
      transform: scale(0.0, 0.0);
      margin-top: 40px;
      margin-bottom: 40px;
      margin-right: 40px;
      margin-left: 40px !important;
      border: 1px solid white !important;
      border-radius: 10px !important;
    }
    .visible{
      transform-origin: 50% 50% !important;
      transform: scale(1,1) !important;
    }
  </style>

  <div class="ui grid">
		<div class="ui four wide column" id="filterPanel">


    <button id="formButton" class="ui circular teal icon big button" stylee="margin-top:60px !important;">
      <i class="icon {{icon}}"></i>
    </button>

                  <form class="ui form attached segment form-container " id="eventForm">
                  <div class="field">
                        <label>Crime type</label>
                        <div class="ui fluid search selection dropdown">
                          <input type="hidden" name="crime">
                          <i class="dropdown icon"></i>
                          <div class="default text">Select Type</div>
                          <div class="menu">
                          <div class="item" data-value="rape"><i class="icon warning"></i>Rape</div>
                          <div class="item" data-value="medical emergency"><i class="icon warning"></i>Medical emergency</div>
                          <div class="item" data-value="fire breakout"><i class="icon warning"></i>Fire breakout</div>
                          <div class="item" data-value="loud noise"><i class="icon warning"></i>Loud noise</div>
                          <div class="item" data-value="robbery"><i class="icon warning"></i>Robbery</div>
                          <div class="item" data-value="killing"><i class="icon warning"></i>Assassination</div>
                          <div class="item" data-value="drug addict"><i class="icon warning"></i>Drug Addict</div>
                          <div class="item" data-value="assault"><i class="icon warning"></i>Assault</div>
                        </div>
                        </div>
                  </div>
               <div class="field">
                 <label>Description</label>
                 <textarea rows="2" name="description"></textarea>
               </div>
                      <div class="field">
                          <div class="ui checkbox">
                            <input id="broadcastCheck" type="checkbox" name="broadcast" tabindex="0" class="hidden">
                            <label>Broadcast to emergency centers</label>
                          </div>
                      </div>
                      <button id="submitButton" type="submit" class="ui teal animated button" style="margin-bottom:25px" tabindex="0">
                          <div class="visible content">SUBMIT</div>
                          <div class="hidden content"> <i class="right arrow icon"></i> </div>
                      </button>
                      <div class="ui error message"></div>
                  </form>

  

		</div>
    <div class="ui center grid">
      <div id="map-canvas"></div>
    </div>
	</div>
</template>