

#filterPanel{
	position: absolute;
	z-index: 2;
	margin: 20px;
}

#eventForm{
	min-width: 250px;
	width: 90%;
}

@media only screen and (min-width: 520px) { 
	#eventForm{
		width: 50%;
	}
}


#map-canvas {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}