/*
* @Author: Manraj Singh
* @Date:   2016-04-09 21:32:09
* @Last Modified by:   Manraj Singh
* @Last Modified time: 2016-04-10 02:32:06
*/

#filterPanel{
	position: absolute;
	z-index: 2;
	margin: 20px;
}

#eventForm{
	width: 50%;
}


#map-canvas {
    width: 360vh;
    height: 100vh;
    margin: 0;
    padding: 0;
}